    {% extends "base.html" %}

{% block title %}Add/Edit Keyword{% endblock %}

{% block content %}
    <h1>Add or Edit Keyword</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Save Keyword</button>
    </form>
    <a href="{% url 'keyword_list' %}" class="btn btn-secondary mt-3">Back to Keyword List</a>
    <a href="{% url 'index' %}" class="btn btn-success mt-3">Back to Course List</a>
{% endblock %}
